[Unit]
Description=APME PostgreSQL (Gateway persistence)
After=apme-pod.service

[Container]
Image=docker.io/library/postgres:16-alpine
Pod=apme.pod
Environment=POSTGRES_USER=apme
Environment=POSTGRES_PASSWORD=apme
Environment=POSTGRES_DB=apme
Volume=/var/lib/apme/postgres:/var/lib/postgresql/data:rw,z

[Install]
WantedBy=apme-pod.service
